[project]
	description = platform_manifest
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nicholas Flintham (Flinny)
[access "refs/for/refs/*"]
	read = group user/Nicholas Flintham (Flinny)
	push = group user/Nicholas Flintham (Flinny)
	label-Code-Review = -2..+2 group user/Nicholas Flintham (Flinny)
	label-Verified = -1..+1 group user/Nicholas Flintham (Flinny)
	rebase = group user/Nicholas Flintham (Flinny)
	removeReviewer = group user/Nicholas Flintham (Flinny)
	submit = group user/Nicholas Flintham (Flinny)
[access "refs/heads/*"]
	read = group user/Nicholas Flintham (Flinny)
	create = group user/Nicholas Flintham (Flinny)
	push = +force group user/Nicholas Flintham (Flinny)
	pushMerge = group user/Nicholas Flintham (Flinny)
[access "refs/tags/*"]
	push = +force group user/Nicholas Flintham (Flinny)
	pushTag = group user/Nicholas Flintham (Flinny)
	pushSignedTag = group user/Nicholas Flintham (Flinny)
